<nav>
    <ul>
        <li>
            <button type="button" class="btn btn-outline-secondary">
                <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
            </button>
        </li>
        <li>
            <button type="button" class="btn btn-outline-secondary">Noticias</button>
        </li>
        <li>
            <button type="button" class="btn btn-outline-secondary">
                <a [routerLink]="['/contacto']" routerLinkActive="router-link-active" >Servicio al cliente</a>
            </button>
        </li>
    </ul>
</nav>
