nav{
    background-color: rgb(65, 72, 102);
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
}

ul{ 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    justify-content: center;
    margin-bottom: 0px;
}

ul li{
    padding: 10px;
}

button{
    margin-left: 5px;
    margin-right: 5px;
    color:white;
}

button:hover{
    background-color: rgb(87, 95, 129);
}

a{
    text-decoration: none;
    color: white;
}

